# {{ ansible_managed }}
[Resolve]
DNS=10.100.40.111 10.100.40.110
Domains=skydio.lan skyd.io localdomain
#FallbackDNS=
#Domains=
#LLMNR=no
#MulticastDNS=no
#DNSSEC=no
#DNSOverTLS=no
#Cache=no-negative
#DNSStubListener=yes
#ReadEtcHosts=yes
